.aside {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-primary;
  align-items: center;
  margin-top: 8rem;

  // INFO displays information about application only in begining
  &__info {
    padding: 0 3rem;
    font-size: 1.6rem;
    h1 {
      font-weight: 300;
      color: $color-secondary3;
    }
  }

  &__results {
    border: 1px solid white;
    background-color: $color-secondary3;

    font-size: 1.6rem;
    width: 25rem;
    // height: 80%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    margin-top: 2rem;

    .btn--plus-sm {
      // visibility: hidden;
      position: absolute;
      width: 3rem;
      height: 3rem;
      font-size: 3rem;
      top: 0;
      bottom: 0;
      right: -4rem;

      background-color: $color-primary2;
      width: 4rem;
      height: 4rem;
      border: 1px solid black;
      cursor: pointer;
      padding: 1rem;
      fill: $color-primary;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      &:disabled {
        opacity: 0.65;
        // background-color: red;
        background-color: $color-primary;
        cursor: not-allowed;
        fill: $color-primary3;
        border-color: $color-primary3;
      }
    }
  }

  &__letter {
    color: $color-primary;
    background-color: $color-secondary2;
    width: 5rem;
    margin-left: -2rem;
    border: 1px solid black;
    padding-left: 1rem;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 0.5rem 2rem;

    font-size: 1.8rem;
    color: $color-primary;
    text-decoration: none;
    &:not(last-of-type) {
      margin-bottom: 1rem;
    }
    &:hover {
      cursor: pointer;
    }

    &--eng {
      margin-left: 2rem;
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: -2rem;
      line-height: 100%;
    }
    &--type {
      margin-top: 1rem;
      text-transform: uppercase;
    }
    &--meanings {
      // flex-basis: 100%;
      display: flex;
    }
    &--nr {
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      border: 1px solid black;
      margin-right: 1rem;
      font-family: sans-serif;
      font-style: italic;
    }
    &--def {
      max-width: 80%;
      word-wrap: break-word;
    }
    &--active {
      background-color: $color-primary3;
    }
  }
  &__print {
    margin-top: 21rem;
    height: 120rem;
    // background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--list {
      margin-top: auto;
    }
    &--def {
      padding: 1rem 2rem;
      max-width: 100%;
    }
    &--eng {
      text-transform: lowercase;
    }
    &--letter {
      background-color: $color-primary3;
      width: 6rem;
      font-weight: bold;

      margin: 0 0 1rem -3rem;
      text-align: left;
      padding-left: 1rem;
      border: 1px solid $color-primary;
    }
    &--item {
      background-color: $color-secondary;
    }
    &--footer {
      margin-top: auto;
    }
  }

  &__footer {
    display: flex;
    align-content: center;
    background-color: $color-primary3;
    justify-content: space-between;
    .btn--page {
      display: flex;
      // flex-basis: 50%;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      cursor: pointer;
      padding: 0.2rem;
      border: none;
      font-family: inherit;
      flex-basis: 40%;
      // @extend %btn-icon;
      &:hover {
        background: $color-secondary2;
      }
    }
    .btn--print {
      font-size: 1.8rem;
      &:hover {
        background: $color-secondary2;
      }
    }
    .btn__print--print {
      padding: 0 1.5rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    svg {
      // background-color: $color-secondary3;
      width: 3rem;
      height: 3rem;
      // border: 1px solid black;
      fill: $color-primary; //SVG FILE
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .copyright {
    margin-bottom: 5rem;
    // text-align: center;
  }
}
