//FONT
$font-family: 'Kalam', cursive;

//COLORS

$color-primary: #3d3e40;
$color-primary2: #8b8c8c;
$color-primary3: #c4c4c4;

$color-secondary: #d1d3d8;
$color-secondary2: #d8d8d8;
$color-secondary3: #eeeeee;

$gradient: linear-gradient(to right bottom, $color-primary, $color-primary);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  //This defines what 1rem is;
  font-size: 62.5%;
}

body {
  font-family: $font-family, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-primary;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  //TODO DELETE BORDER AFTER
  // border: 1px solid white;

  max-width: 140rem;
  min-height: 117rem;
  margin: 4vw auto;
  //THIS STRUCTURE IS FOR FUTURE CHANGE COLOR OPTION INTO WHITE
  background-color: $color-primary;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-primary, 0.2);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-areas:
    'head head'
    'list words';

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.hidden {
  opacity: 0;
   visibility: hidden;
}
.message-info {
  @extend %message;
  // align-items: flex-start;
  // margin-top: 3rem;
}
