.main {
  &__cards {
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    max-width: 25rem;
    background-color: $color-secondary3;

    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // NAVIGATION CARD
    &-nav {
      // height: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      color: $color-primary;
      background-color: $color-primary2;
      overflow-wrap: anywhere;
    }
    .card {
      &__word {
        font-size: 2.5rem;
        // padding: 0 0.5rem;
        margin-left: 1rem;
        text-transform: uppercase;
      }
      // &__phonetic {
      //   // height: auto;
      // }
      &__btns {
        display: flex;

        align-items: center;
        // padding: 0;
        height: 4.5rem;

        // width: 4rem;
        button {
          width: 4.5rem;
          height: 4.5rem;
          border: none;
        }
      }
    }
    // BODY CARD
    &-body {
      height: 30rem;
      padding: 2rem;
      // max-width: 25rem;
      overflow-y: scroll;
    }

    .card {
      &__explanation {
        display: flex;
        flex-wrap: wrap;
        &--nr {
          @extend %btn-icon;
          background-color: $color-primary3;
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 2rem;
          font-size: 1.8rem;
        }
        &--word {
          font-size: 2.5rem;
          font-weight: 600;
        }
        &--role {
          font-size: 1.6rem;
        }
      }
      &__sentance {
        margin-top: 5rem;
        font-size: 1.6rem;
      }
    }
    // FOOTER CARD
    &-footer {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 1.5rem;

      .more__btn {
        background-color: $color-secondary2;
        &:hover {
          background-color: $color-primary3;
        }
      }
    }
  }
}
