%btn {
  display: block;
  height: 100%;
  width: 10rem;
  background-color: $color-primary2;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: uppercase;
  // outline: 1px solid black;
  transition: all 0.3s;
  border: none;
  border-left: 1px solid black;
  // border-radius: 4px;

  &:hover,
  &:active {
    background-color: $color-primary3;
  }
}
.create__btn,
.rename__btn {
  margin: auto;
}
.btn {
  @extend %btn;
  border: 1px solid black;
}
.btn-light {
  @extend %btn;
  border: 1px solid black;
  background-color: $color-secondary2;
}
.btn--page,
.btn--pageList {
  background-color: transparent;
  // width: 3rem;
  height: 3rem;
  // outline: none;
  border: none;
  cursor: pointer;
  // padding: 0.2rem;
  fill: $color-primary; //SVG FILE
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 2rem;
  }

  span {
    // border: 1px solid $color-primary;
    padding: 0 0.1rem;
    width: 6rem;
  }
}
.btn--next {
  float: right;
}
.btn--prev {
  float: left;
}
.btn--more {
  margin: 0 2rem;
  background-color: transparent;
  width: 6rem;
  border: none;
  font-size: 1.6rem;
}
%btn-icon {
  background-color: $color-primary2;
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  cursor: pointer;
  padding: 1rem;
  fill: $color-primary; //SVG FILE
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
%btn-hidden {
  opacity: 0;
  visibility: hidden;
}

%form {
  display: flex;
  background-color: $color-primary2;
  font-family: inherit;
  font-size: 1.7rem;
  align-items: center;
  font-size: 1.8rem;
  outline: 1px solid black;
  height: 5.6rem;
  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
  }
}

%nav-bar {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: $color-primary3;
  // height: 6rem;
  // width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease;
  border: 1px solid black;
}

%message {
  // margin-top: 5rem;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  color: $color-primary;
  font-size: 2.3rem;
  // height: 100%;
  padding: 1.5rem;
  background-color: $color-primary3;
  @media only screen and (max-width: $bp-large) {
    background-color: $color-primary;
    color: $color-secondary3;
    // height: 30rem;
    align-items: center;
    position: relative;
    margin-bottom: -8rem;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-secondary;
    // fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
