%btn {
  display: block;
  height: 100%;
  width: 10rem;
  background-color: $color-primary2;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: uppercase;
  // outline: 1px solid black;
  transition: all 0.3s;
  border: none;
  border-left: 1px solid black;
  // border-radius: 4px;

  &:hover,
  &:active {
    background-color: $color-primary3;
  }
}
.btn {
  @extend %btn;
  border: 1px solid black;
}
.btn-light {
  @extend %btn;
  border: 1px solid black;
  background-color: $color-secondary2;
}
%btn-icon {
  background-color: $color-primary2;
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  cursor: pointer;
  padding: 1rem;
  fill: $color-primary; //SVG FILE
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
%btn-hidden {
  opacity: 0;
   visibility: hidden;
}

%form {
  display: flex;
  background-color: $color-primary2;
  font-family: inherit;
  font-size: 1.7rem;
  align-items: center;
  font-size: 1.8rem;
  outline: 1px solid black;
  height: 5.6rem;
}

%nav-bar {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: $color-primary3;
  // height: 6rem;
  // width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease;
  border: 1px solid black;
}

%message {
  // margin-top: 5rem;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  color: $color-primary;
  font-size: 2.3rem;
  // height: 100%;
  padding: 3rem;
  background-color: $color-primary3;
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-secondary;
    // fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
