.main {
  // margin-top: 9rem;
  grid-area: words;
  background-image: url(../img/book.png);
  background-repeat: no-repeat;
  background-position: top;
  @media only screen and (max-width: $bp-medium) {
    background-image: url(../img/book-medium.png);
  }

  &__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    // height: 32rem;
    min-height: 6rem;
    justify-content: center;
    @media only screen and (max-width: $bp-large) {
      max-height: 4rem;
    }
  }
  //svg plus button
  .bar__icon {
    fill: $color-primary;
    height: 100%;
  }

  .message-nogroup {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-21%, -120%);
    @media only screen and (max-width: $bp-large) {
      background-color: $color-primary;
      color: $color-secondary3;
      transform: translate(-50%, 0%);
      position: fixed;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    p {
      @extend %message;
    }
  }
  // BUTTON CREATE NEW GROUP WITH PLUS
  &__create-group {
    height: 14rem;

    font-size: 3.5rem;
    text-transform: uppercase;
    background-color: $color-primary3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease;
    p {
      padding: 0 3rem;
      text-align: center;
    }
  }
  &__nav {
    position: relative;
    z-index: 20;
    @media only screen and (max-width: $bp-large) {
      width: 60vw;
    }
    @media only screen and (max-width: $bp-small) {
      width: 80vw;
    }
  }

  &__btn--create-group {
    width: 6rem;
    height: 6rem;
    padding: 0;
  }

  .nav__icon {
    @extend %btn-icon;

    fill: $color-primary;
  }
  &__input {
    height: 0;
  }
  .create,
  .rename {
    margin: 0 auto;
  }

  &__input {
    .create,
    .rename {
      max-width: 80vw;
      @extend %form;

      &__field {
        background-color: $color-secondary3;

        height: 5.6rem;
        width: 100%;
        color: inherit;
        padding-left: 1rem;
        border: none;
        font-size: 2rem;

        &::placeholder {
          color: $color-primary2;
          font-size: 1.8rem;
        }
      }

      &__btn {
        @extend %btn;
      }
    }
  }
  .confirm {
    @extend %nav-bar;

    height: auto;
    border: 1px solid $color-primary;
    transform: translateY(-11.2rem);
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
    p {
      padding: 0 1rem;
      @media only screen and (max-width: $bp-medium) {
        // flex-direction: column;
        font-size: 2rem;
        padding: 0.5rem 1.5rem;
      }
    }

    .yes__btn,
    .no__btn {
      height: 6rem;
    }
  }
  //MAIN NAVIGATION BAR
  &__group-edit {
    // width: 100%;

    margin: auto auto;
  }
  &__bar {
    @extend %nav-bar;
    width: auto;
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  // name of the new created group
  &__group {
    line-break: anywhere;
    padding: 0 2rem;
    min-width: 26rem;
    @media only screen and (max-width: $bp-large) {
      text-align: center;
      margin-left: 0;
    }
  }
  &__btn--edit {
    @extend %btn-icon;
    &:hover,
    &:visited {
      background-color: $color-primary3;
    }
  }
}
