.main {
  // margin-top: 9rem;
  grid-area: words;
  background-image: url(../img/book.png);
  background-repeat: no-repeat;
  background-position: top;
  @media only screen and (max-width: $bp-large) {
    // because message welcome back doesnt jump
    // margin-top: 66px;
  }

  &__control {
    // background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }
  // &__nav {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  .message-nogroup {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    max-height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    @media only screen and (max-width: $bp-large) {
      background-color: $color-primary;
      color: $color-secondary3;
    }

    p {
      @extend %message;
      height: auto;
    }
  }
  // BUTTON CREATE NEW GROUP WITH PLUS
  &__create-group {
    //TODO use javascript to change those value
    // visibility: hidden;
    // height: 0rem;
    // cursor: pointer;

    @extend %nav-bar;

    p {
      width: 60rem;
      padding-left: 3rem;
    }

    // &:hover .main__btn,
    // &:active .main__btn {
    //   transform: translateX(6rem);
    //   opacity: 1;
    //   cursor: pointer;
    // }
  }
  &__nav {
    @media only screen and (max-width: $bp-large) {
      width: 60vw;
    }
    @media only screen and (max-width: $bp-small) {
      width: 80vw;
    }
    // @media only screen and (max-width: $bp-small) {
    //   width: 32rem;
    // }
  }

  // &__btn--create-group {
  //   // position: relative;
  //   // transform: translateX(-6rem);
  //   // @extend %btn-icon;
  //   // background-color: $color-primary2;
  //   // @extend %btn-hidden;
  //   // width: 6rem;
  //   // height: 6rem;
  // }

  .nav__icon {
    // position: absolute;
    @extend %btn-icon;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    fill: $color-primary;
  }

  &__input {
    .create,
    .rename {
      max-width: 80vw;
      @extend %form;

      &__field {
        background-color: $color-secondary3;

        height: 5.6rem;
        width: 100%;
        color: inherit;
        padding-left: 1rem;
        border: none;
        font-size: 2rem;

        &::placeholder {
          color: $color-primary2;
          font-size: 1.8rem;
        }
      }

      &__btn {
        @extend %btn;
      }
      // @include form2;
    }
  }

  //MAIN NAVIGATION BAR
  &__group-edit {
    // width: 100%;

    margin: auto auto;
  }
  &__bar {
    @extend %nav-bar;
    width: auto;
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  // name of the new created group
  &__group {
    // margin-left: 3rem;
    line-break: anywhere;
    padding: 0 2rem;
    min-width: 26rem;
    // width: 50rem;
    @media only screen and (max-width: $bp-large) {
      text-align: center;
      margin-left: 0;
    }
  }
  &__btn--edit {
    @extend %btn-icon;
    &:hover,
    &:visited {
      background-color: $color-primary3;
    }
  }
}
