.main {
  margin-top: 8rem;
  grid-area: words;
  background-image: url(../img/book.png);
  background-repeat: no-repeat;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .message-nogroup {
    margin: 0 auto;
    width: 80%;
    height: 20rem;

    p {
      @extend %message;
      height: auto;
    }
  }
  // BUTTON CREATE NEW GROUP WITH PLUS
  &__create-group {
    //TODO use javascript to change those value
    // visibility: hidden;
    // height: 0rem;
    cursor: pointer;

    @extend %nav-bar;

    p {
      margin: 0 auto;
    }

    &:hover .main__btn,
    &:active .main__btn {
      transform: translateX(6rem);
      opacity: 1;
      cursor: pointer;
    }
  }

  &__btn--create-group {
    position: relative;
    transform: translateX(-6rem);
    @extend %btn-icon;
    // background-color: $color-primary2;
    @extend %btn-hidden;
    // width: 6rem;
    // height: 6rem;
  }

  .nav__icon {
    position: absolute;
    @extend %btn-icon;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    fill: $color-primary;
  }

  &__input {
    //TODO use javascript to change those value
    // visibility: hidden;

    .create {
      @extend %form;

      &__field {
        background-color: $color-secondary3;

        height: 5.6rem;
        width: 40rem;
        color: inherit;
        padding-left: 1rem;
        border: none;

        &::placeholder {
          color: $color-primary2;
          font-size: 1.8rem;
        }
      }

      &__btn {
        @extend %btn;
      }
      // @include form2;
    }
  }

  //MAIN NAVIGATION BAR
  &__bar {
    @extend %nav-bar;
  }
  &__btns {
    display: flex;
  }
  // name of the new created group
  &__group {
    margin-left: 3rem;
  }
  &__btn--edit {
    @extend %btn-icon;
    &:hover {
      background-color: $color-primary3;
    }
  }
}
