.groups {
  @extend .upload;

  &__heading {
    color: $color-primary;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 4rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .preview {
      @extend .main__bar;
      height: 6rem;
      max-width: 50rem;
      width: 100%;
      &:not(last-of-type) {
        margin-bottom: 5rem;
      }

      &__link {
        text-decoration: none;
        color: inherit;
        padding-left: 3rem;
        font-family: $font-family;
        @extend .main__bar;
        width: calc(100% - 6rem);
        // height: 100%;
        text-align: center;
        cursor: pointer;
      }
      &__nr {
        font-size: 3rem;
        font-weight: 400;
      }

      .btn--minus {
        @extend %btn-icon;
      }
    }
  }
}
