.groups {
  @extend .upload;

  &__heading {
    color: $color-primary;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 8rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .preview {
      height: 6rem;
      @extend .main__bar;

      width: 50rem;
      &:not(last-of-type) {
        margin-bottom: 5rem;
      }

      &__link {
        text-decoration: none;
        color: inherit;
        padding-left: 3rem;
        font-family: $font-family;
        @extend .main__bar;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;
      }

      .btn--minus {
        @extend %btn-icon;
      }
    }
  }
}
