.header {
  grid-area: head;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 20rem;
    margin-left: 3rem;
  }

  .search {
    @extend %form;

    &__field {
      background-color: $color-secondary3;

      height: 5.6rem;
      width: 40rem;
      color: inherit;
      padding-left: 1rem;
      border: none;
      font-size: 2rem;
      font-family: inherit;

      &::placeholder {
        color: $color-primary2;
        font-size: 1.8rem;
      }
    }

    &__btn {
      @extend %btn;
    }
  }

  .nav {
    // align-self: stretch;
    margin-right: 2.5rem;

    &__list {
      list-style: none;
      display: flex;
      height: 100%;
      // text-transform: uppercase;
      height: 5.6rem;
    }

    &__btn {
      height: 100%;
      font-family: inherit;
      color: inherit;
      font-size: 1.6rem;
      // font-weight: bold;
      text-transform: uppercase;
      background-color: $color-primary2;
      border: 1px solid black;
      cursor: pointer;
      padding: 0 1.5rem;
      transition: all 0.3s;

      display: flex;
      align-items: center;

      &--add-word {
        margin: 0 2rem;
      }

      svg {
        height: 2.4rem;
        width: 2.4rem;
        fill: $color-primary;
        margin-right: 0.7rem;
        transform: translateY(-1px);
      }

      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
