.header {
  grid-area: head;
  display: flex;
  flex-wrap: wrap;
  // margin-top: 2rem;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 20rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    @media only screen and (max-width: $bp-large) {
      margin-right: auto;
      order: 1;
    }
  }

  .search {
    @extend %form;
    @media only screen and (max-width: $bp-large) {
      margin-left: auto;
      margin-right: auto;
      display: block;
      order: 3;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-top: 2rem;
    }

    &__field {
      background-color: $color-secondary3;
      height: 5.6rem;
      width: 48rem;
      color: inherit;
      padding-left: 1rem;
      border: none;
      font-size: 2.8rem;
      font-family: inherit;
      @media only screen and (max-width: $bp-large) {
        flex-grow: 1;
      }
      @media only screen and (max-width: $bp-medium) {
        width: 35rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        width: 50%;
      }

      &::placeholder {
        color: $color-primary2;
        font-size: 1.8rem;
      }
    }

    &__btn {
      @extend %btn;
    }
  }

  .nav {
    // align-self: stretch;
    margin-right: 2.5rem;
    @media only screen and (max-width: $bp-large) {
      order: 2;
      margin-left: auto;
      margin-right: 1rem;
    }

    &__list {
      list-style: none;
      display: flex;
      height: 100%;
      // text-transform: uppercase;
      height: 5.6rem;
    }

    &__btn {
      height: 100%;
      font-family: inherit;
      color: $color-primary;
      font-size: 1.8rem;
      // font-weight: bold;
      text-transform: uppercase;
      background-color: $color-primary2;
      border: 1px solid black;
      cursor: pointer;
      padding: 0 1.5rem;
      transition: all 0.3s;
      font-weight: bold;
      display: flex;
      align-items: center;

      &--add-word {
        margin: 0 2rem;
      }

      svg {
        height: 2.4rem;
        width: 2.4rem;
        fill: $color-primary;
        margin-right: 0.7rem;
        transform: translateY(-1px);
      }

      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
