@media print {
  // hide every other element
  body {
    visibility: hidden;
  }
  .print-cards {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.8cm;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
    page-break-inside: avoid;
    overflow: hidden !important;
  }
  .main:after {
    content: '\ Thank you for using WordsApp. I hope you enjoy it.';
  }

  .main__control {
    display: block;
    margin-bottom: -2.5cm;
  }
  .main__create-group {
    border: none;
  }
  .main__group {
    margin: 0 auto;
    border: none !important;
  }

  .message {
    display: none;
  }
  .main__bar {
    border: none !important;
    margin: 0;
    padding: 0;
  }

  .card__btns,
  .main__btns,
  .message,
  .rename,
  .create,
  .main__card-footer,
  .btn--page {
    visibility: hidden;
  }
  .main__cards {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
  }

  .main__card {
    font-size: 13pt;
    width: 166pt;

    &-box {
      width: auto !important;
      display: inline !important;
      margin-right: 10pt;
      margin: 0 !important;
      // padding: 0 !important;
    }
    &-nav {
      border: 1px solid $color-primary;
    }

    &-body {
      overflow-y: hidden !important;
      border: 1px solid $color-primary;
    }
  }
}
